# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.env.*
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/